.logo {
  width: 140px;
  height: 26px;
}

.linkMobile {
  filter: invert(1);
  z-index: 5;
}

.text {
  font-family: 'lato', Arial, sans-serif;
  white-space: pre-line;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: var(--color-grey);
  margin: 0 0 0 5px;
}

.textMobile {
  color: var(--color-white);
  z-index: 5;
}

@media screen and (max-width: 590px){
  .text {
    display: none;
  }
}
