.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 30px 0 50px 0;
  padding: 0 10px;
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
  }
}