.main {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  padding: 0 10px;
}

.imageContainer {
  margin-top: 30px;
  overflow: hidden;
}

.aboutUsImage {
  display: block;
  max-width: 1340px;
  width: 100%;
  height: 100%;
  height: auto;
  transition: all .6s ease-in;
}

.aboutUsImage:hover {
  transform: scale(1.1);
}

.aboutUsTextContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin: 50px 0;
}

.aboutUsText {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #171717;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-bottom: 35px;
}

.imgTeam {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.name {
  font-size: 16px;
  text-transform: uppercase;
}

.advateges {
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

@media screen and (max-width: 770px) {
  .aboutUsTextContainer {
    grid-template-columns: minmax(250px, 520px);
    gap: 0;
  }
  .team {
    grid-template-columns: minmax(250px, 520px);
  }
  .imgTeam {
    display: block;
    margin: 0 auto;
  }
}