.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 70px;
}

.container {
  max-width: 1200px;
  display: flex;
  align-self: center;
  padding: 10px;
  margin-bottom: 50px;
}

.list {
  min-width: 250px;
  margin-left: 100px;
}

.text {
  font-family: Helvetica;;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #171717;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
  }
  .list {
    min-width: 200px;
    margin-left: 0;
  }
}

@media screen and (max-width: 560px) {
  .text {
    font-size: 14px;
  }
}