.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10px;
}

.image {
  display: flex;
  width: 50px;
  height: 50px;
  object-fit: none;
  margin-bottom: 24px;
}

.dashed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px;
  box-sizing: border-box;
}

.dashedActive {
  border: 1px dashed #CBC8C8;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  margin-top: 20px;
}

.inputContainer {
  display: flex;
}

.submitContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin-top: 20px;
  margin-bottom: 16px;
}

.area {
  height: 100px;
  display: block;
  background: transparent;
  border: 1px solid;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  resize: none;
  padding: 20px 10px;
}

@media screen and (max-width: 700px) {
  .inputContainer {
    display: flex;
    flex-direction: column;
  }

  .submitContainer {
    grid-template-columns: 1fr;
  }

  .area {
    margin-bottom: 20px;
  }
}

.addFoto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 40px;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 23px;
  color: #9191A2;
  border: 1px dashed #C5C5D2;
  padding: 0 10px;
  cursor: pointer;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.addInput {
  display: none;
}

.addFotoIcon {
  width: 23px;
  height: 23px;
}