.main {
  width: 100%;
}

.catalog {
  display: grid;
  gap: 14px;
  grid-template-areas:
    'item1 item1 item2 item3'
    'item1 item1 item4 item4'
    'item5 item6 item4 item4'
    'item7 item8 item9 item10';
  padding: 0 10px;
}


.catalogItem1 {
  grid-area: item1;
}

.catalogItem2 {
  grid-area: item2;
}

.catalogItem3 {
  grid-area: item3;
}

.catalogItem4 {
  grid-area: item4;
}

.catalogItem5 {
  grid-area: item5;
}

.catalogItem6 {
  grid-area: item6;
}

.catalogItem7 {
  grid-area: item7;
}

.catalogItem8 {
  grid-area: item8;
}

.catalogItem9 {
  grid-area: item9;
}

.catalogItem10 {
  grid-area: item10;
}

.itemLarge {
  text-decoration: none;
}

.itemSmall {
  text-decoration: none;
}

.title {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-top: 0;
}

.image {
  display: block;
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.imageLarge {
  max-width: 662px;
  max-height: 755px;
}

.imageSmall {
  max-width: 324px;
  max-height: 401px;
}