.link {
  text-decoration: none;
}

.linkMobile {
  display: block;
}

.text{
  position: relative;
  line-height: 20px;
  text-decoration: none;
}

.text::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    content: '';
    opacity: 0;
    background-color: var(--color-black);
    transition: all, ease-in .2s;
    transform-origin: bottom 50%;
    transform: scale(.8);
}

.text:hover.text::after {
  transform: scale(1);
  opacity: 1;
}

.default {
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-black);
}

.submenu {
  font-weight: 300;
  font-size: 16px;
  color: var(--color-black);
}

.mobile {
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 1px;
}