.main {
  max-width: 1360px;
  margin: 50px 0;
}

.section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 0 10px;
  margin: 30px 0;
  padding-top: 30px;
  box-sizing: border-box;
  border-top: 1px solid #DDCDBD;
}

.textContainer {
  margin-left: 20px;
}

.text {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.list {
  font-weight: normal;
  font-family: Helvetica;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
