.container {
  width: 120px;
  min-height: 30px;
  display: flex;
  justify-self: baseline;
  justify-content: space-between;
  align-items: center;
}

.link {
  transition: var(--transition);
}

.link:hover {
  opacity: .8;
}

.image {
  display: flex;
}

