.image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.text {
  font-family: Helvetica;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #171717;
}

.name {
  font-size: 16px;
  text-transform: uppercase;
}
