.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'futura';
  font-size: 21px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  letter-spacing: .05em;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
}
