.nav {
  width: 100%;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.listMobile {
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

@media screen and (max-width: 650px){
  .list {
    display: flex;
    flex-direction: column;
  }
  .link{
    padding-bottom: 16px;
    margin-bottom: 20px;
    padding-left: 24px;
    font-size: 16px;
  }
  .link:not(:last-child) {
    border-bottom: 1px solid var(--color-grey);
  }

  .link::after {
    position: absolute;
    font-weight: 300;
    font-family: 'futura', Arial, sans-serif;
    font-size: 22px;
    right: 10px;
    content: '+';
  }
}
